$color-primary-lighter: #cac2e2;
$color-primary-light: #be98ec;
$color-primary: #b387e9;
$color-primary-dark: #865ebc;

$color-secondary-light: #fff9b4;
$color-secondary: #fff376;
$color-secondary-dark: #dfc64b;
$color-secondary-darker: #998600;

$color-success: #7efcb4;
$color-success-dark: #51db8d;

$color-alert: #eb5757;
$color-alert-dark: #cf3e3e;

$color-bg-dark: #3b364f;
$color-bg-light: #f7efff;

$color-text-black: #3b364f;
$color-text-pale: #f7efff;
$color-text-white: #ffffff;

$color-grey-800: #4d4863;
$color-grey-500: #67607e;
$color-grey-200: #b4afc5;
$color-grey-50: #f2efff;

$box-shadow-M: 0px 8px 11px 2px rgba(0, 0, 0, 0.14);
$box-shadow-S: 0px 2px 9px 2px rgba(0, 0, 0, 0.06);
