:root {
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
}

$yellow-50: #fff376;
$bg-dark: #3b364f;
$text-black: #3b364f;
$text-white: #f7efff;

$grey-800: #4d4863;
$grey-500: #67607e;

#app {
    background-color: $bg-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;

    .page-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        position: relative;
        margin-top: 24px;
        width: 90vw;
        max-width: 460px;
    }
}

h1 {
    margin-bottom: 36px;

    font-size: 3rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;

    letter-spacing: -0.02em;

    color: $yellow-50;
    text-shadow: 1px 2px 8px rgba(247, 220, 96, 0.18);
}

h2 {
    font-size: 2.25rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-weight: 600;
    text-align: left;

    color: $text-white;
    margin-bottom: 1rem;
}

button:hover {
    cursor: pointer;
}
